:root {
  --dark-gray: #212121;
  --white: white;
  --black: black;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

.body {
  background-color: var(--dark-gray);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mosaic {
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: baseline;
  width: 100%;
  max-width: 800px;
  display: flex;
}

.mosaic.centered {
  justify-content: center;
  align-items: center;
}

.card {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.navsection {
  z-index: 3;
  background-image: linear-gradient(180deg, rgba(33, 33, 33, 0), var(--dark-gray));
  width: 100%;
  padding: 20px;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.styledlink {
  color: var(--white);
}

.styledlink.navitems {
  line-height: 120%;
  text-decoration: none;
}

.styledlink.navitems:hover, .styledlink.navitems.w--current {
  text-decoration: underline;
}

.navright {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.navleft {
  padding-left: 0;
  padding-right: 0;
}

.logotext {
  color: #fff;
  font-size: 36px;
  line-height: 120%;
}

.columns {
  justify-content: center;
  align-items: center;
  display: flex;
}

.cardimage {
  z-index: 2;
  width: 100%;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cardcontent {
  z-index: 2;
  background-color: rgba(33, 33, 33, .85);
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cardcontent:hover {
  opacity: 1;
}

.contentheading, .styledp {
  color: var(--white);
}

.cardheading {
  color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.cardtextdiv {
  aspect-ratio: 1;
  border: 2px solid var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.styledformbutton {
  border: 2px solid var(--white);
  background-color: rgba(56, 152, 236, 0);
  border-radius: 5px;
  padding: 10px 20px;
}

.styledformbutton:hover {
  text-decoration: underline;
}

.form {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.textfield {
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  border-radius: 5px;
}

.textfield::placeholder {
  color: var(--dark-gray);
}

.form-block {
  width: 66%;
}

.footer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardtitle {
  color: var(--white);
}

@media screen and (max-width: 991px) {
  .styledlink {
    line-height: 120%;
  }

  .contentheading {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .mosaic {
    max-width: 100%;
  }

  .styledlink.navitems {
    font-size: 12px;
    line-height: 100%;
  }

  .logotext {
    font-size: 32px;
  }

  .contentheading {
    font-size: 2.5vw;
  }

  .styledp {
    font-size: 1.5vw;
  }

  .styledformbutton, .textfield {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .mosaic {
    max-width: 100%;
  }

  .card {
    width: 100%;
  }

  .card.hideonmobile {
    display: none;
  }

  .navsection {
    background-image: linear-gradient(180deg, var(--dark-gray), rgba(33, 33, 33, 0));
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .navleft {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .columns {
    justify-content: center;
    align-items: center;
  }

  .contentheading {
    font-size: 5vw;
  }

  .styledp {
    font-size: 12px;
  }

  .cardtextdiv.hidetopbordermob {
    border-top-style: none;
  }
}


