:root {
  --jet: #333;
  --cosmic-latte: #f6f6f6;
  --glaucous: #677db7;
  --light-coral: #ee7674;
  --green: #4d6f53;
  --blue: #2561b4;
  --teal: #35a88d;
  --off-white: #fffcf7;
  --veridian: #578865;
  --powder-blue: #99b2dd;
  --periwinkle: #c9c9ee;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: var(--jet);
  background-color: #fffcf7;
  font-family: Public Sans, sans-serif;
  font-size: 20px;
  line-height: 140%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.intro-heading {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.nav-text {
  margin-top: 0;
  font-size: 2.8vw;
  font-weight: 600;
  line-height: 140%;
}

.nav-text.hidden {
  display: none;
}

.paragraph-styled {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.paragraph-styled.small {
  width: 60%;
  font-size: 16px;
}

.paragraph-styled.large {
  font-size: 30px;
}

.spaced-div {
  height: auto;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.spaced-div.spacer {
  height: 10vh;
  min-height: 10vh;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.spaced-div.left {
  margin-bottom: 0;
  padding-bottom: 10vh;
}

.left-panel {
  width: 40%;
  height: 100vh;
  object-fit: fill;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.right-panel {
  width: 60%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.standard-section {
  flex-direction: row-reverse;
  justify-content: space-between;
  display: flex;
}

.styled-link {
  background-color: var(--jet);
  color: var(--jet);
  -webkit-text-fill-color: transparent;
  background-image: none;
  -webkit-background-clip: text;
  background-clip: text;
}

.styled-link:hover {
  background-image: linear-gradient(to right, var(--glaucous), var(--light-coral));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.styled-link.w--current {
  background-image: linear-gradient(to right, var(--glaucous), var(--light-coral));
  color: var(--glaucous);
}

.styled-link.hidden:hover {
  background-image: none;
}

.body {
  background-color: var(--cosmic-latte);
}

.form-block {
  width: 100%;
  margin-top: 30px;
}

.text-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.text-field.name {
  width: 50%;
}

.text-field.email {
  width: 75%;
}

.checkbox-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-label {
  font-size: 16px;
}

.submit-button {
  background-color: var(--jet);
  background-image: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.submit-button:hover {
  background-image: linear-gradient(to right, var(--glaucous), var(--light-coral));
}

.field-label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

.div-block-2 {
  width: 50%;
  float: left;
}

.dive-block-3 {
  width: 50%;
  float: right;
  text-align: right;
  object-fit: fill;
}

.image {
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
}

.image.smiley {
  width: 60px;
  padding-bottom: 60px;
}

.work-dropdown {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work-icon {
  width: auto;
  max-height: 70px;
}

.work-title {
  width: 100%;
  min-height: 60px;
  border-bottom: 2px solid var(--glaucous);
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.work-content {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 10px;
  font-size: 16px;
  display: none;
  position: static;
}

.work-content.wide {
  flex-direction: column;
  align-items: stretch;
  display: none;
}

.work-image {
  max-width: 34%;
}

.easter-egg {
  display: none;
}

.hidden-link {
  color: var(--jet);
  text-decoration: none;
}

.checkbox {
  margin-top: 9px;
}

.underlined-link {
  color: var(--jet);
}

.underlined-link:hover {
  color: var(--glaucous);
}

.large-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7, .paragraph-8, .paragraph-9, .paragraph-10, .paragraph-11, .paragraph-12 {
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .nav-text {
    margin-bottom: 20px;
    font-size: 38px;
  }

  .spaced-div {
    height: auto;
    min-height: 75vh;
    margin-bottom: 0;
    padding-top: 25vh;
    padding-bottom: 0;
  }

  .spaced-div.spacer {
    height: 20vh;
    padding-top: 20vh;
    padding-bottom: 20px;
  }

  .spaced-div.left {
    height: auto;
    min-height: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .left-panel {
    width: 100%;
    height: auto;
    background-color: var(--cosmic-latte);
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .right-panel {
    width: 100%;
    position: static;
  }

  .standard-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .nav-text {
    font-size: 34px;
  }

  .paragraph-styled.small {
    width: 100%;
  }

  .work-icon {
    max-height: 60px;
    margin-left: 10px;
  }

  .work-title {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .work-content {
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .work-image {
    max-width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .intro-heading {
    font-size: 15px;
  }

  .nav-text {
    font-size: 24px;
  }

  .paragraph-styled, .paragraph-styled.small {
    font-size: 15px;
  }

  .spaced-div {
    min-height: 0;
    padding-top: 20vh;
  }

  .left-panel {
    padding: 20px;
  }

  .right-panel {
    padding: 21px;
  }

  .styled-link.contact, .styled-link.media {
    font-size: 16px;
  }

  .text-field {
    font-size: 15px;
  }

  .text-field.name {
    width: 70%;
  }

  .text-field.email {
    width: 85%;
  }

  .checkbox-label {
    font-size: 15px;
    font-weight: 400;
  }

  .submit-button, .field-label {
    font-size: 15px;
  }

  .dive-block-3 {
    width: 50%;
  }

  .work-icon {
    max-height: 50px;
  }

  .work-title, .work-content {
    padding-left: 0;
    padding-right: 0;
  }

  .form {
    font-size: 15px;
  }
}


